@media screen and (min-width: 700px) {
    
    .currentDate {
        font-size: 35px;
        border-radius: 30px;
        margin-top: 50px;
        padding: 30px;
   position: relative;
   z-index: 2;
        

    }
    
}