@media screen and (min-width: 700px) {
.container {
     background-image: url('./../../assets/images/leaves.jpg');
  background-size: cover; 
  background-position: center;

    margin: 0 auto;
    width: 700px;
    height: 1100px;
     padding: 0 50px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
}