@media screen and (min-width: 700px) {
    .mainContainer {
        align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: auto;
    margin-top: 50px;
    }
   
    .container {
        position: relative;
        border-radius: 20px;
        border: 2px solid #ffffff;
        box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
    text-align: center;
        padding: 10px;
        font-size: 158px;
        margin-top: 150px;
        
    }



    .header {
        font-size: 20px;
         font-family:'Josefin Sans Variable', sans-serif;
         width: 450px;
         text-align: center;
         margin-top: 200px;
         line-height: 1.5em;
    }
    .created {
        font-size: 24px;
        margin-bottom: 0px;
        margin-top: 150px;
        
    } 
    
}