
@media screen and (min-width: 700px) {
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
    }
    .watch {
        border-radius: 20px;
    padding: 20px 30px;
    font-size: 158px;
    margin-top: 50px;
   position: relative;
   z-index: 2;
        background: linear-gradient(84deg, #c800ff, #ff4400, #33ff33, #3352ff);
        background-size: 200% 200%;
        animation: gradient 4s ease infinite;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

   

}