
@media screen and (min-width: 700px) {

    .watch {
        border-radius: 20px;
    padding: 20px 30px;
    font-size: 178px;
    margin-top: 50px;
   position: relative;
   z-index: 2;
       
    }

   

}