
@media screen and (min-width: 700px) {
    .watch {
        border-radius: 30px;
        border: 2px solid #ffffff;
    padding: 20px 30px ;
    font-size: 158px;
    margin-top: 50px;
    color: #ffffff; /* Text color */
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff,
     0 0 30px #ffffff, 0 0 40px #ffffff;
    }
}